h1{
    margin: 0;
}

.HARAM{
    margin: 50px 0;
}

.descript{
    margin: 75px 0;
}

#quantity{
    width: 153px;
    height: 2.9em;
    font-size: 25px;
    padding: 0;
    text-align: -webkit-center;
    margin-right: 20px;
}

thin{
    font-weight: 300;
}